*{
    margin: 0;
}

body{

    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#container-01{
    margin-top: 30px;
    width: 80%;
    max-width: 360px;
    
    margin-inline: auto;
}

img{

    margin-top: 100px;    
    margin-inline: auto;
}

h1{
    margin-bottom: 10px;
    opacity: 0.9;
    font-size: 30px;
}

p{
    margin-bottom: 35px;

    opacity: 0.7;
}

button, input{

    display: block;
    width: 100%;

    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;

}

input{

    margin-bottom: 20px;
    box-sizing: border-box;
}

button{

    color: white;
    background-color: blueviolet;
    transition: filter .7s;
}

button:hover{

    filter: drop-shadow(0px 0px 5px rgba(224, 195, 255, 0.678));
    cursor: pointer;
}


#resposta{

    font-size: 30px;
    margin-top: 20px;
    font-weight:normal;
    transition: opacity 1s ;
}

#resposta div{

    margin-top: 50px;
    opacity: 0.5;
    font-size: 20px;
    font-weight:normal;
}